@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@font-face{
  font-family: 'hothamFont';
  src: url(../fonts/HothamFreeDemo-L380G.ttf)
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222222;
    scroll-behavior: smooth;
  }

  .jumbotron{
    padding: 1em;
    border-radius: 0%;
    background-image: url(../images/jumbo-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin-bottom: 0rem;
  }
  
  .jumbotron p{
      font-size: 1.5em;
  }

  .padding{
    padding-bottom: 2em;
  }
  
  .welcome{
    width: 75%;
    margin: 0% auto;
    padding-top: 2em;
  }
  
  .welcome hr{
    border-top: 4px white solid;
    width: 95%;
    margin-top: .3em;
    margin-bottom: 1em;
  }

  .jumbotron h1{
      font-family: hothamFont;
      font-size: 7em;
  }

  .pizza-photo{
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 3em;
      border: 20px white solid;
  }

  .pizza-photo img{
      width: 100%;
  }

  .hr-black hr{
    border-top: 2px #b4b4b4 solid;      
  }

  .card button{
      background-color: brown;
      color: white;
  }

  .pizza-small img{
    width: 25%;
    padding-top: 7%;    
  }

  .pizza-medium img{
    width: 32%;
    padding-top: 3%;    
  }

  .pizza-large img{
    width: 40%;    
  }   
  
  #footr{
    font-family: hothamFont;
  }
  
  footer{
    background-color: rgb(17, 17, 63);
    color: #d5d5d5;
    padding-top: 1rem;
    margin-top: 2em;
  }

  hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  
  hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }

  .form-group{    
    line-height: 0%;
  }

  #myForm input{
    color: black;
  }  

  .pizza-sizes{
    margin-bottom: 1em;
  }

  .pizza-design-form{
    background-color: #f4f4f4;
    padding: 2em;
    margin-top: 1em;
  }

  .form-buttons{
    background-color: #f4f4f4;
    padding: 2em;
  }

  .removeOrder{
    cursor: pointer;
  }

  .removeOrder:hover{
    color: brown;
  }

  label{
    padding-left: 0.5em;
  }

  .crust-tip,
  .size-tip{
    font-size: smaller;
  }

  .yourOrder{
    display: none;
  }

  .yourOrder p{
    font-style: italic;
  }

  .order-bg-color{
    background-color: #f4f4f4;      
    padding: 1em;
    height: 100%;
  }

  .padTop{
    margin-top: 1em;
  }